<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579880523945-okbpa1188k53ou8d35u9ag0b8utn4r9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579880523945-okbpa1188k53ou8d35u9ag0b8utn4r9g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>579880523945-kaegu8lfnbgtib555833qgsq5gltidnl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDzLWtTCRyNiPCmeimbgXK-7pMgy6fWSDU</string>
	<key>GCM_SENDER_ID</key>
	<string>579880523945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.BookLoved</string>
	<key>PROJECT_ID</key>
	<string>booklove-2a0b9</string>
	<key>STORAGE_BUCKET</key>
	<string>booklove-2a0b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579880523945:ios:694d6b0eb7c8a247ebb1b8</string>
</dict>
</plist>